@model BugTracker2.Models.DashboardViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to Bugtracker, @Html.ActionLink(Model.UserDisplayName, "Index", "Manage")</h2>



    <div class="col-md-4" style="padding-left: 0px;">
        <h4>Your Assigned Tickets</h4>
        @if(Model.UserAssignments.Count > 0)
        {
            foreach (var item in Model.UserAssignments)
            {
                <div class="TicketComment">
                    @Html.ActionLink(item.Title + " [" + Model.TicketStatuses.First(n => n.Id.ToString() == item.TicketStatusId).Name + "]", "Details", "Tickets", new { id = item.Id }, new { })
                    <br />
                    Assigned @item.TicketHistories.LastOrDefault(n => n.Property == "AssignedToUserId").DateTime.LocalDateTime
                    <br />
                    Priority: @Model.TicketPriorities.First(n => n.Id.ToString() == item.TicketPriorityId).Name
                </div>
            }
        } else
        {
            <div class="TicketComment">
                You are not assigned to any tickets.
            </div>
        }
    </div>
    <div class="col-md-4">
        <h4>Your Projects</h4>
        @if (Model.UserProjects.Count > 0)
        {
            foreach (var item in Model.UserProjects)
            {
                <div class="TicketAttachment">
                    @Html.ActionLink(item.Name, "Index", "Projects")
                </div>
            }
        } else
        {
            <div class="TicketAttachment">
                You are not assigned to any projects.
            </div>
        }

    </div>
    <div class="col-md-4" style="padding-right: 0px;">
        <h4>Your Submitted Tickets</h4>

        @if (Model.UserTickets.Count > 0)
        {
            foreach (var item in Model.UserTickets)
            {
                <div class="TicketHistory">
                    @Html.ActionLink(item.Title + " [" + Model.TicketStatuses.First(n => n.Id.ToString() == item.TicketStatusId).Name + "]", "Details", "Tickets", new { id = item.Id }, new { })
                    <br />
                    @if (item.AssignedToUserId != null)
                    {
                        <p>Assigned to: @Model.AllUsers.FirstOrDefault(n => n.Id == item.AssignedToUserId).DisplayName</p>
                        <br />
                        <p>At time: @item.TicketHistories.Last(n => n.Property == "AssignedToUserId").DateTime.LocalDateTime</p>
                    }
                    else
                    {
                        <p>Assigned to: none</p>
                    }
                </div>
             }
         } else
         {
                <div class="TicketHistory">
                    You have no submitted tickets.
                </div>
         }
    </div>
 
<p style="color: transparent;">.</p>